
/*cm_sysdb_begin*/
@import url("//fonts.cm4all.net/css?subset=cyrillic,cyrillic-ext,devanagari,greek,greek-ext,khmer,latin,latin-ext,vietnamese&family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic");
/*cm_sysdb_end*/

.cm-offline-content {
    color: #000000;
    background-color: #F9F6EC;
}
.design_content,.cm-templates-container,.cm-templates-text,.cm-templates-footer{font-family:Roboto, sans-serif
;font-size:small
;font-weight:normal
;font-style:normal
;line-height:1.7
}
h1,.cm-h1{font-size:large
;font-family:Roboto, sans-serif
;font-weight:bold
;font-style:normal
;line-height:initial
;margin-bottom:.7em}
h2{font-size:large
;font-family:Roboto, sans-serif
;font-weight:bold
;font-style:normal
;line-height:initial
;margin-bottom:.7em}
h3{font-size:small
;font-family:Roboto, sans-serif
;font-weight:bold
;font-style:normal
;line-height:initial
;margin-bottom:.7em}
h4,h5,h6{font-size:small
;font-family:Roboto, sans-serif
;font-weight:bold
;font-style:normal
;line-height:initial
;margin-bottom:.7em}
#title,.title_wrapper .title,.title_wrapper .bigtitle{font-family:Roboto, sans-serif
;font-size:xx-large
;font-weight:normal
;font-style:normal
;line-height:initial
}
#subtitle{font-family:Roboto, sans-serif
;font-size:large
;font-weight:bold
;font-style:normal
;line-height:initial
}
.cm-templates-navigation,.navigation_wrapper a,.navigation a,.mobile_navigation a,.navigation>ul>li:after,.navigation li.cm_has_subnavigation>a:after{font-size:small
;font-family:Roboto, sans-serif
;font-weight:normal
;font-style:normal
;line-height:initial
}
.cm_widget input[type="text"],.cm_widget form input[type="text"],.cm_widget input[type="date"],.cm_widget form input[type="date"],.cm_widget input[type="datetime"],.cm_widget form input[type="datetime"],.cm_widget input[type="email"],.cm_widget form input[type="email"],.cm_widget input[type="number"],.cm_widget form input[type="number"],.cm_widget input[type="password"],.cm_widget form input[type="password"],.cm_widget input[type="search"],.cm_widget form input[type="search"],.cm_widget input[type="tel"],.cm_widget form input[type="tel"],.cm_widget input[type="time"],.cm_widget form input[type="time"],.cm_widget input[type="url"],.cm_widget form input[type="url"],.cm_widget select,.cm_widget form select,.cm_widget textarea,.cm_widget form textarea{border:0;border:1px solid rgba(0
,0
,0
,0.45);border:1px solid rgba(0,0,0
,0.45);color:#000000
;border-radius:2px;padding:11px 12px;background-color:rgba(0
,0
,0
,0.03);background-color:rgba(0,0,0
,0.03);transition:border .3s,box-shadow .3s;font-family:Roboto, sans-serif
;font-size:small
;font-weight:normal
;font-style:normal
;line-height:1.7
}
.cm_widget input[type="text"]:hover,.cm_widget form input[type="text"]:hover,.cm_widget input[type="date"]:hover,.cm_widget form input[type="date"]:hover,.cm_widget input[type="datetime"]:hover,.cm_widget form input[type="datetime"]:hover,.cm_widget input[type="email"]:hover,.cm_widget form input[type="email"]:hover,.cm_widget input[type="number"]:hover,.cm_widget form input[type="number"]:hover,.cm_widget input[type="password"]:hover,.cm_widget form input[type="password"]:hover,.cm_widget input[type="search"]:hover,.cm_widget form input[type="search"]:hover,.cm_widget input[type="tel"]:hover,.cm_widget form input[type="tel"]:hover,.cm_widget input[type="time"]:hover,.cm_widget form input[type="time"]:hover,.cm_widget input[type="url"]:hover,.cm_widget form input[type="url"]:hover,.cm_widget select:hover,.cm_widget form select:hover,.cm_widget textarea:hover,.cm_widget form textarea:hover{border:1px solid rgba(0
,0
,0
,0.8);border:1px solid rgba(0,0,0
,0.8)}
.cm_widget input[type="text"]:focus,.cm_widget form input[type="text"]:focus,.cm_widget input[type="date"]:focus,.cm_widget form input[type="date"]:focus,.cm_widget input[type="datetime"]:focus,.cm_widget form input[type="datetime"]:focus,.cm_widget input[type="email"]:focus,.cm_widget form input[type="email"]:focus,.cm_widget input[type="number"]:focus,.cm_widget form input[type="number"]:focus,.cm_widget input[type="password"]:focus,.cm_widget form input[type="password"]:focus,.cm_widget input[type="search"]:focus,.cm_widget form input[type="search"]:focus,.cm_widget input[type="tel"]:focus,.cm_widget form input[type="tel"]:focus,.cm_widget input[type="time"]:focus,.cm_widget form input[type="time"]:focus,.cm_widget input[type="url"]:focus,.cm_widget form input[type="url"]:focus,.cm_widget select:focus,.cm_widget form select:focus,.cm_widget textarea:focus,.cm_widget form textarea:focus{outline:0;border:1px solid #000000
;box-shadow:0 0 6px rgba(0
,0
,0
,0.4);box-shadow:0 0 6px rgba(0,0,0
,0.4)}
.cm_widget input[type="button"],.cm_widget form input[type="button"],.cm_widget input[type="submit"],.cm_widget form input[type="submit"],.cm_widget input[type="reset"],.cm_widget form input[type="reset"],.cm_widget button,.cm_widget form button{background-color:rgba(0
,0
,0
,0.08);background-color:rgba(0,0,0
,0.08);border:1px solid rgba(0
,0
,0
,0.35);border:1px solid rgba(0,0,0
,0.35);color:#000000
;padding:10px 14px;border-radius:2px;box-shadow:0 3px 3px -2px rgba(0
,0
,0
,0.5);box-shadow:0 3px 3px -2px rgba(0,0,0
,0.5);cursor:pointer;transition:transform .1s,box-shadow .2s,border .2s;font-family:Roboto, sans-serif
;font-size:small
;font-weight:normal
;font-style:normal
;line-height:1.7
}
@media screen and (min-width:1251px){.cm_widget input[type="button"]:hover,.cm_widget form input[type="button"]:hover,.cm_widget input[type="submit"]:hover,.cm_widget form input[type="submit"]:hover,.cm_widget input[type="reset"]:hover,.cm_widget form input[type="reset"]:hover,.cm_widget button:hover,.cm_widget form button:hover{border:1px solid rgba(0
,0
,0
,0.8);border:1px solid rgba(0,0,0
,0.8)}
}
.cm_widget input[type="button"]:focus,.cm_widget form input[type="button"]:focus,.cm_widget input[type="submit"]:focus,.cm_widget form input[type="submit"]:focus,.cm_widget input[type="reset"]:focus,.cm_widget form input[type="reset"]:focus,.cm_widget button:focus,.cm_widget form button:focus{outline:0;transform:translateY(2px);box-shadow:0 2px 3px -2px rgba(0
,0
,0
,0.4);box-shadow:0 2px 3px -2px rgba(0,0,0
,0.4)}
.footer_wrapper .cm_widget input[type="text"],.footer_wrapper .cm_widget form input[type="text"],.sidebar_wrapper .cm_widget input[type="text"],.sidebar_wrapper .cm_widget form input[type="text"],.footer_wrapper .cm_widget input[type="date"],.footer_wrapper .cm_widget form input[type="date"],.sidebar_wrapper .cm_widget input[type="date"],.sidebar_wrapper .cm_widget form input[type="date"],.footer_wrapper .cm_widget input[type="datetime"],.footer_wrapper .cm_widget form input[type="datetime"],.sidebar_wrapper .cm_widget input[type="datetime"],.sidebar_wrapper .cm_widget form input[type="datetime"],.footer_wrapper .cm_widget input[type="email"],.footer_wrapper .cm_widget form input[type="email"],.sidebar_wrapper .cm_widget input[type="email"],.sidebar_wrapper .cm_widget form input[type="email"],.footer_wrapper .cm_widget input[type="number"],.footer_wrapper .cm_widget form input[type="number"],.sidebar_wrapper .cm_widget input[type="number"],.sidebar_wrapper .cm_widget form input[type="number"],.footer_wrapper .cm_widget input[type="password"],.footer_wrapper .cm_widget form input[type="password"],.sidebar_wrapper .cm_widget input[type="password"],.sidebar_wrapper .cm_widget form input[type="password"],.footer_wrapper .cm_widget input[type="search"],.footer_wrapper .cm_widget form input[type="search"],.sidebar_wrapper .cm_widget input[type="search"],.sidebar_wrapper .cm_widget form input[type="search"],.footer_wrapper .cm_widget input[type="tel"],.footer_wrapper .cm_widget form input[type="tel"],.sidebar_wrapper .cm_widget input[type="tel"],.sidebar_wrapper .cm_widget form input[type="tel"],.footer_wrapper .cm_widget input[type="time"],.footer_wrapper .cm_widget form input[type="time"],.sidebar_wrapper .cm_widget input[type="time"],.sidebar_wrapper .cm_widget form input[type="time"],.footer_wrapper .cm_widget input[type="url"],.footer_wrapper .cm_widget form input[type="url"],.sidebar_wrapper .cm_widget input[type="url"],.sidebar_wrapper .cm_widget form input[type="url"],.footer_wrapper .cm_widget select,.footer_wrapper .cm_widget form select,.sidebar_wrapper .cm_widget select,.sidebar_wrapper .cm_widget form select,.footer_wrapper .cm_widget textarea,.footer_wrapper .cm_widget form textarea,.sidebar_wrapper .cm_widget textarea,.sidebar_wrapper .cm_widget form textarea{font-family:Roboto, sans-serif
;font-size:small
;font-weight:normal
;font-style:normal
;line-height:1.7
}
.footer_wrapper .cm_widget input[type="button"],.footer_wrapper .cm_widget form input[type="button"],.sidebar_wrapper .cm_widget input[type="button"],.sidebar_wrapper .cm_widget form input[type="button"],.footer_wrapper .cm_widget input[type="submit"],.footer_wrapper .cm_widget form input[type="submit"],.sidebar_wrapper .cm_widget input[type="submit"],.sidebar_wrapper .cm_widget form input[type="submit"],.footer_wrapper .cm_widget input[type="reset"],.footer_wrapper .cm_widget form input[type="reset"],.sidebar_wrapper .cm_widget input[type="reset"],.sidebar_wrapper .cm_widget form input[type="reset"],.footer_wrapper .cm_widget button,.footer_wrapper .cm_widget form button,.sidebar_wrapper .cm_widget button,.sidebar_wrapper .cm_widget form button{font-family:Roboto, sans-serif
;font-size:small
;font-weight:normal
;font-style:normal
;line-height:1.7
}
.cm-templates-empty{display:none !important}
.page_wrapper,.cm-template-content__main{font-family:Roboto, sans-serif
;font-size:small
;font-weight:normal
;font-style:normal
;line-height:1.7
}
body{background-color:#D0D1C2
}
h1,.cm-h1{font-size:large
;font-family:Roboto, sans-serif
;font-weight:bold
;font-style:normal
;line-height:initial
;margin-bottom:.7em}
h2{font-size:large
;font-family:Roboto, sans-serif
;font-weight:bold
;font-style:normal
;line-height:initial
;margin-bottom:.7em}
h3{font-size:small
;font-family:Roboto, sans-serif
;font-weight:bold
;font-style:normal
;line-height:initial
;margin-bottom:.7em}
h4,h5,h6{font-size:small
;font-family:Roboto, sans-serif
;font-weight:bold
;font-style:normal
;line-height:initial
;margin-bottom:.7em}
.title_wrapper .title{font-family:Roboto, sans-serif
;font-size:xx-large
;font-weight:normal
;font-style:normal
;line-height:initial
}
.title_wrapper .subtitle{font-family:Roboto, sans-serif
;font-size:large
;font-weight:bold
;font-style:normal
;line-height:initial
}
#cm_navigation a,.mobile_navigation a{font-size:small
;font-family:Roboto, sans-serif
;font-weight:normal
;font-style:normal
;line-height:initial
}
.cm_widget input[type="text"],.cm_widget input[type="date"],.cm_widget input[type="datetime"],.cm_widget input[type="email"],.cm_widget input[type="number"],.cm_widget input[type="password"],.cm_widget input[type="search"],.cm_widget input[type="tel"],.cm_widget input[type="time"],.cm_widget input[type="url"],.cm_widget select,.cm_widget textarea{border:0;border:1px solid rgba(0
,0
,0
,0.45);border:1px solid rgba(0,0,0
,0.45);color:#000000
;border-radius:2px;padding:11px 12px;background-color:rgba(0
,0
,0
,0.03);background-color:rgba(0,0,0
,0.03);transition:border .3s,box-shadow .3s}
.cm_widget input[type="text"]:hover,.cm_widget input[type="date"]:hover,.cm_widget input[type="datetime"]:hover,.cm_widget input[type="email"]:hover,.cm_widget input[type="number"]:hover,.cm_widget input[type="password"]:hover,.cm_widget input[type="search"]:hover,.cm_widget input[type="tel"]:hover,.cm_widget input[type="time"]:hover,.cm_widget input[type="url"]:hover,.cm_widget select:hover,.cm_widget textarea:hover{border:1px solid rgba(0
,0
,0
,0.8);border:1px solid rgba(0,0,0
,0.8)}
.cm_widget input[type="text"]:focus,.cm_widget input[type="date"]:focus,.cm_widget input[type="datetime"]:focus,.cm_widget input[type="email"]:focus,.cm_widget input[type="number"]:focus,.cm_widget input[type="password"]:focus,.cm_widget input[type="search"]:focus,.cm_widget input[type="tel"]:focus,.cm_widget input[type="time"]:focus,.cm_widget input[type="url"]:focus,.cm_widget select:focus,.cm_widget textarea:focus{outline:0;border:1px solid #000000
;box-shadow:0 0 6px rgba(0
,0
,0
,0.4);box-shadow:0 0 6px rgba(0,0,0
,0.4)}
.cm_widget input[type="button"],.cm_widget input[type="submit"],.cm_widget input[type="reset"],.cm_widget button{background-color:rgba(0
,0
,0
,0.08);background-color:rgba(0,0,0
,0.08);border:1px solid rgba(0
,0
,0
,0.35);border:1px solid rgba(0,0,0
,0.35);color:#000000
;padding:10px 14px;border-radius:2px;box-shadow:0 3px 3px -2px rgba(0
,0
,0
,0.5);box-shadow:0 3px 3px -2px rgba(0,0,0
,0.5);cursor:pointer;transition:transform .1s,box-shadow .2s,border .2s}
@media screen and (min-width:1251px){.cm_widget input[type="button"]:hover,.cm_widget input[type="submit"]:hover,.cm_widget input[type="reset"]:hover,.cm_widget button:hover{border:1px solid rgba(0
,0
,0
,0.8);border:1px solid rgba(0,0,0
,0.8)}
}
.cm_widget input[type="button"]:focus,.cm_widget input[type="submit"]:focus,.cm_widget input[type="reset"]:focus,.cm_widget button:focus{outline:0;transform:translateY(2px);box-shadow:0 2px 3px -2px rgba(0
,0
,0
,0.4);box-shadow:0 2px 3px -2px rgba(0,0,0
,0.4)}
.footer_wrapper .cm_widget input[type="text"],.sidebar_wrapper .cm_widget input[type="text"],.footer_wrapper .cm_widget input[type="date"],.sidebar_wrapper .cm_widget input[type="date"],.footer_wrapper .cm_widget input[type="datetime"],.sidebar_wrapper .cm_widget input[type="datetime"],.footer_wrapper .cm_widget input[type="email"],.sidebar_wrapper .cm_widget input[type="email"],.footer_wrapper .cm_widget input[type="number"],.sidebar_wrapper .cm_widget input[type="number"],.footer_wrapper .cm_widget input[type="password"],.sidebar_wrapper .cm_widget input[type="password"],.footer_wrapper .cm_widget input[type="search"],.sidebar_wrapper .cm_widget input[type="search"],.footer_wrapper .cm_widget input[type="tel"],.sidebar_wrapper .cm_widget input[type="tel"],.footer_wrapper .cm_widget input[type="time"],.sidebar_wrapper .cm_widget input[type="time"],.footer_wrapper .cm_widget input[type="url"],.sidebar_wrapper .cm_widget input[type="url"],.footer_wrapper .cm_widget select,.sidebar_wrapper .cm_widget select,.footer_wrapper .cm_widget textarea,.sidebar_wrapper .cm_widget textarea{border:0;border:1px solid rgba(0
,0
,0
,0.45);border:1px solid rgba(0,0,0
,0.45);color:#000000
;border-radius:2px;padding:11px 12px;background-color:rgba(0
,0
,0
,0.03);background-color:rgba(0,0,0
,0.03);transition:border .3s,box-shadow .3s}
.footer_wrapper .cm_widget input[type="text"]:hover,.sidebar_wrapper .cm_widget input[type="text"]:hover,.footer_wrapper .cm_widget input[type="date"]:hover,.sidebar_wrapper .cm_widget input[type="date"]:hover,.footer_wrapper .cm_widget input[type="datetime"]:hover,.sidebar_wrapper .cm_widget input[type="datetime"]:hover,.footer_wrapper .cm_widget input[type="email"]:hover,.sidebar_wrapper .cm_widget input[type="email"]:hover,.footer_wrapper .cm_widget input[type="number"]:hover,.sidebar_wrapper .cm_widget input[type="number"]:hover,.footer_wrapper .cm_widget input[type="password"]:hover,.sidebar_wrapper .cm_widget input[type="password"]:hover,.footer_wrapper .cm_widget input[type="search"]:hover,.sidebar_wrapper .cm_widget input[type="search"]:hover,.footer_wrapper .cm_widget input[type="tel"]:hover,.sidebar_wrapper .cm_widget input[type="tel"]:hover,.footer_wrapper .cm_widget input[type="time"]:hover,.sidebar_wrapper .cm_widget input[type="time"]:hover,.footer_wrapper .cm_widget input[type="url"]:hover,.sidebar_wrapper .cm_widget input[type="url"]:hover,.footer_wrapper .cm_widget select:hover,.sidebar_wrapper .cm_widget select:hover,.footer_wrapper .cm_widget textarea:hover,.sidebar_wrapper .cm_widget textarea:hover{border:1px solid rgba(0
,0
,0
,0.8);border:1px solid rgba(0,0,0
,0.8)}
.footer_wrapper .cm_widget input[type="text"]:focus,.sidebar_wrapper .cm_widget input[type="text"]:focus,.footer_wrapper .cm_widget input[type="date"]:focus,.sidebar_wrapper .cm_widget input[type="date"]:focus,.footer_wrapper .cm_widget input[type="datetime"]:focus,.sidebar_wrapper .cm_widget input[type="datetime"]:focus,.footer_wrapper .cm_widget input[type="email"]:focus,.sidebar_wrapper .cm_widget input[type="email"]:focus,.footer_wrapper .cm_widget input[type="number"]:focus,.sidebar_wrapper .cm_widget input[type="number"]:focus,.footer_wrapper .cm_widget input[type="password"]:focus,.sidebar_wrapper .cm_widget input[type="password"]:focus,.footer_wrapper .cm_widget input[type="search"]:focus,.sidebar_wrapper .cm_widget input[type="search"]:focus,.footer_wrapper .cm_widget input[type="tel"]:focus,.sidebar_wrapper .cm_widget input[type="tel"]:focus,.footer_wrapper .cm_widget input[type="time"]:focus,.sidebar_wrapper .cm_widget input[type="time"]:focus,.footer_wrapper .cm_widget input[type="url"]:focus,.sidebar_wrapper .cm_widget input[type="url"]:focus,.footer_wrapper .cm_widget select:focus,.sidebar_wrapper .cm_widget select:focus,.footer_wrapper .cm_widget textarea:focus,.sidebar_wrapper .cm_widget textarea:focus{outline:0;border:1px solid #000000
;box-shadow:0 0 6px rgba(0
,0
,0
,0.4);box-shadow:0 0 6px rgba(0,0,0
,0.4)}
.footer_wrapper .cm_widget input[type="button"],.sidebar_wrapper .cm_widget input[type="button"],.footer_wrapper .cm_widget input[type="submit"],.sidebar_wrapper .cm_widget input[type="submit"],.footer_wrapper .cm_widget input[type="reset"],.sidebar_wrapper .cm_widget input[type="reset"],.footer_wrapper .cm_widget button,.sidebar_wrapper .cm_widget button{background-color:rgba(0
,0
,0
,0.08);background-color:rgba(0,0,0
,0.08);border:1px solid rgba(0
,0
,0
,0.35);border:1px solid rgba(0,0,0
,0.35);color:#000000
;padding:10px 14px;border-radius:2px;box-shadow:0 3px 3px -2px rgba(0
,0
,0
,0.5);box-shadow:0 3px 3px -2px rgba(0,0,0
,0.5);cursor:pointer;transition:transform .1s,box-shadow .2s,border .2s}
@media screen and (min-width:1251px){.footer_wrapper .cm_widget input[type="button"]:hover,.sidebar_wrapper .cm_widget input[type="button"]:hover,.footer_wrapper .cm_widget input[type="submit"]:hover,.sidebar_wrapper .cm_widget input[type="submit"]:hover,.footer_wrapper .cm_widget input[type="reset"]:hover,.sidebar_wrapper .cm_widget input[type="reset"]:hover,.footer_wrapper .cm_widget button:hover,.sidebar_wrapper .cm_widget button:hover{border:1px solid rgba(0
,0
,0
,0.8);border:1px solid rgba(0,0,0
,0.8)}
}
.footer_wrapper .cm_widget input[type="button"]:focus,.sidebar_wrapper .cm_widget input[type="button"]:focus,.footer_wrapper .cm_widget input[type="submit"]:focus,.sidebar_wrapper .cm_widget input[type="submit"]:focus,.footer_wrapper .cm_widget input[type="reset"]:focus,.sidebar_wrapper .cm_widget input[type="reset"]:focus,.footer_wrapper .cm_widget button:focus,.sidebar_wrapper .cm_widget button:focus{outline:0;transform:translateY(2px);box-shadow:0 2px 3px -2px rgba(0
,0
,0
,0.4);box-shadow:0 2px 3px -2px rgba(0,0,0
,0.4)}
.shopWidgetSeperatedDiv input[type='text'],.shopWidgetSeperatedDiv button,.shopWidgetSeperatedDiv input[type='button'],.shopWidgetSeperatedDiv input[type='submit'],.shopWidgetSeperatedDiv input[type='reset']{padding:8px 3px;min-width:45px}
.shopWidgetSeperatedDiv button,.shopWidgetSeperatedDiv input[type='button'],.shopWidgetSeperatedDiv input[type='submit'],.shopWidgetSeperatedDiv input[type='reset']{background-size:cover !important;border:0}
.head_wrapper{background-color:#FFFFFF
}
.head_wrapper .title{color:#545454
}
.head_wrapper .subtitle{color:#919191
}
.navigation_wrapper{background-color:#FFFFFF
}
.mobile_navigation,.mobile_navigation a,.navigation_wrapper a,.navigation_wrapper li.cm_has_subnavigation>a:after{color:#545454
;background-color:#FFFFFF
;text-decoration:none}
.mobile_navigation:hover,.mobile_navigation:hover a,.navigation_wrapper li:hover>a,.navigation_wrapper li.cm_current>a,.navigation_wrapper li.cm_current>a:after,.navigation_wrapper li.cm_has_subnavigation:hover>a:after{color:#FFFFFF
;background-color:#545454
;text-decoration:none}
.navigation_wrapper li.cm_has_subnavigation ul>li>a,.navigation_wrapper li.cm_has_subnavigation ul>li>a:after{color:#545454
;background-color:#FFFFFF
}
.navigation_wrapper li.cm_has_subnavigation ul>li:hover>a,.navigation_wrapper li.cm_has_subnavigation ul>li:hover>a:after,.navigation_wrapper li.cm_has_subnavigation ul>li.cm_current>a,.navigation_wrapper li.cm_has_subnavigation ul>li.cm_current>a:after{color:#FFFFFF
;background-color:#545454
}
.content_wrapper{background-color:#F9F6EC
;color:#000000
}
.content_wrapper a{color:#000000
;text-decoration:underline}
.content_wrapper h1,.content_wrapper .cm-h1,.content_wrapper h2,.content_wrapper h3{color:#6B6B6B
}
.sidebar_wrapper{background-color:#EBEBEB
;color:#000000
}
.sidebar_wrapper a{color:#000000
;text-decoration:underline}
.sidebar_wrapper h1,.sidebar_wrapper .cm-h1,.sidebar_wrapper h2,.sidebar_wrapper h3{color:#6B6B6B
}
.footer_wrapper{background-color:#F9F6EC
;color:#000000
}
.footer_wrapper a{color:#000000
}
/*cm4all-vars-extension-force-color-begin*/
.cm4all-header-title-color.cm4all-force-color {
    color: #545454 !important;
}
.cm4all-header-title-color.cm4all-force-background-color {
    background-color: #545454 !important;
}
.cm4all-header-title-color.cm4all-force-border-color {
    border-color: #545454 !important;
} 
.cm4all-header-subtitle-color.cm4all-force-color {
    color: #919191 !important;
}
.cm4all-header-subtitle-color.cm4all-force-background-color {
    background-color: #919191 !important;
}
.cm4all-header-subtitle-color.cm4all-force-border-color {
    border-color: #919191 !important;
} 
.cm4all-header-background-color.cm4all-force-color {
    color: #FFFFFF !important;
}
.cm4all-header-background-color.cm4all-force-background-color {
    background-color: #FFFFFF !important;
}
.cm4all-header-background-color.cm4all-force-border-color {
    border-color: #FFFFFF !important;
} 
.cm4all-header-alt-background-color.cm4all-force-color {
    color: #EDEDED !important;
}
.cm4all-header-alt-background-color.cm4all-force-background-color {
    background-color: #EDEDED !important;
}
.cm4all-header-alt-background-color.cm4all-force-border-color {
    border-color: #EDEDED !important;
} 
.cm4all-header-border-color.cm4all-force-color {
    color: #919191 !important;
}
.cm4all-header-border-color.cm4all-force-background-color {
    background-color: #919191 !important;
}
.cm4all-header-border-color.cm4all-force-border-color {
    border-color: #919191 !important;
} 
.cm4all-header-alt-border-color.cm4all-force-color {
    color: #EDEDED !important;
}
.cm4all-header-alt-border-color.cm4all-force-background-color {
    background-color: #EDEDED !important;
}
.cm4all-header-alt-border-color.cm4all-force-border-color {
    border-color: #EDEDED !important;
} 
.cm4all-content-color.cm4all-force-color {
    color: #000000 !important;
}
.cm4all-content-color.cm4all-force-background-color {
    background-color: #000000 !important;
}
.cm4all-content-color.cm4all-force-border-color {
    border-color: #000000 !important;
} 
.cm4all-content-headline-color.cm4all-force-color {
    color: #6B6B6B !important;
}
.cm4all-content-headline-color.cm4all-force-background-color {
    background-color: #6B6B6B !important;
}
.cm4all-content-headline-color.cm4all-force-border-color {
    border-color: #6B6B6B !important;
} 
.cm4all-content-background-color.cm4all-force-color {
    color: #F9F6EC !important;
}
.cm4all-content-background-color.cm4all-force-background-color {
    background-color: #F9F6EC !important;
}
.cm4all-content-background-color.cm4all-force-border-color {
    border-color: #F9F6EC !important;
} 
.cm4all-content-alt-background-color.cm4all-force-color {
    color: #FFFFFF !important;
}
.cm4all-content-alt-background-color.cm4all-force-background-color {
    background-color: #FFFFFF !important;
}
.cm4all-content-alt-background-color.cm4all-force-border-color {
    border-color: #FFFFFF !important;
} 
.cm4all-content-border-color.cm4all-force-color {
    color: #EBEBEB !important;
}
.cm4all-content-border-color.cm4all-force-background-color {
    background-color: #EBEBEB !important;
}
.cm4all-content-border-color.cm4all-force-border-color {
    border-color: #EBEBEB !important;
} 
.cm4all-content-alt-border-color.cm4all-force-color {
    color: #D4D4D4 !important;
}
.cm4all-content-alt-border-color.cm4all-force-background-color {
    background-color: #D4D4D4 !important;
}
.cm4all-content-alt-border-color.cm4all-force-border-color {
    border-color: #D4D4D4 !important;
} 
.cm4all-content-link-color.cm4all-force-color {
    color: #000000 !important;
}
.cm4all-content-link-color.cm4all-force-background-color {
    background-color: #000000 !important;
}
.cm4all-content-link-color.cm4all-force-border-color {
    border-color: #000000 !important;
} 
.cm4all-content-link-hover-color.cm4all-force-color {
    color: #6B6B6B !important;
}
.cm4all-content-link-hover-color.cm4all-force-background-color {
    background-color: #6B6B6B !important;
}
.cm4all-content-link-hover-color.cm4all-force-border-color {
    border-color: #000000  !important;
} 
.cm4all-sidebar-color.cm4all-force-color {
    color: #000000 !important;
}
.cm4all-sidebar-color.cm4all-force-background-color {
    background-color: #000000 !important;
}
.cm4all-sidebar-color.cm4all-force-border-color {
    border-color: #000000 !important;
} 
.cm4all-sidebar-headline-color.cm4all-force-color {
    color: #6B6B6B !important;
}
.cm4all-sidebar-headline-color.cm4all-force-background-color {
    background-color: #6B6B6B !important;
}
.cm4all-sidebar-headline-color.cm4all-force-border-color {
    border-color: #6B6B6B !important;
} 
.cm4all-sidebar-background-color.cm4all-force-color {
    color: #EBEBEB !important;
}
.cm4all-sidebar-background-color.cm4all-force-background-color {
    background-color: #EBEBEB !important;
}
.cm4all-sidebar-background-color.cm4all-force-border-color {
    border-color: #EBEBEB !important;
} 
.cm4all-sidebar-alt-background-color.cm4all-force-color {
    color: #D4D4D4 !important;
}
.cm4all-sidebar-alt-background-color.cm4all-force-background-color {
    background-color: #D4D4D4 !important;
}
.cm4all-sidebar-alt-background-color.cm4all-force-border-color {
    border-color: #D4D4D4 !important;
} 
.cm4all-sidebar-border-color.cm4all-force-color {
    color: #FFFFFF !important;
}
.cm4all-sidebar-border-color.cm4all-force-background-color {
    background-color: #FFFFFF !important;
}
.cm4all-sidebar-border-color.cm4all-force-border-color {
    border-color: #FFFFFF !important;
} 
.cm4all-sidebar-alt-border-color.cm4all-force-color {
    color: #DBDBDB !important;
}
.cm4all-sidebar-alt-border-color.cm4all-force-background-color {
    background-color: #DBDBDB !important;
}
.cm4all-sidebar-alt-border-color.cm4all-force-border-color {
    border-color: #DBDBDB !important;
} 
.cm4all-sidebar-link-color.cm4all-force-color {
    color: #000000 !important;
}
.cm4all-sidebar-link-color.cm4all-force-background-color {
    background-color: #000000 !important;
}
.cm4all-sidebar-link-color.cm4all-force-border-color {
    border-color: #000000 !important;
} 
.cm4all-sidebar-link-hover-color.cm4all-force-color {
    color: #6B6B6B !important;
}
.cm4all-sidebar-link-hover-color.cm4all-force-background-color {
    background-color: #6B6B6B !important;
}
.cm4all-sidebar-link-hover-color.cm4all-force-border-color {
    border-color: #000000  !important;
} 
.cm4all-navigation-color.cm4all-force-color {
    color: #545454 !important;
}
.cm4all-navigation-color.cm4all-force-background-color {
    background-color: #545454 !important;
}
.cm4all-navigation-color.cm4all-force-border-color {
    border-color: #545454 !important;
} 
.cm4all-navigation-alt-color.cm4all-force-color {
    color: #000000 !important;
}
.cm4all-navigation-alt-color.cm4all-force-background-color {
    background-color: #000000 !important;
}
.cm4all-navigation-alt-color.cm4all-force-border-color {
    border-color: #000000 !important;
} 
.cm4all-navigation-background-color.cm4all-force-color {
    color: #FFFFFF !important;
}
.cm4all-navigation-background-color.cm4all-force-background-color {
    background-color: #FFFFFF !important;
}
.cm4all-navigation-background-color.cm4all-force-border-color {
    border-color: #FFFFFF !important;
} 
.cm4all-navigation-alt-background-color.cm4all-force-color {
    color: #D4D4D4 !important;
}
.cm4all-navigation-alt-background-color.cm4all-force-background-color {
    background-color: #D4D4D4 !important;
}
.cm4all-navigation-alt-background-color.cm4all-force-border-color {
    border-color: #D4D4D4 !important;
} 
.cm4all-navigation-border-color.cm4all-force-color {
    color: #6B6B6B !important;
}
.cm4all-navigation-border-color.cm4all-force-background-color {
    background-color: #6B6B6B !important;
}
.cm4all-navigation-border-color.cm4all-force-border-color {
    border-color: #6B6B6B !important;
} 
.cm4all-navigation-alt-border-color.cm4all-force-color {
    color: #DAE283 !important;
}
.cm4all-navigation-alt-border-color.cm4all-force-background-color {
    background-color: #DAE283 !important;
}
.cm4all-navigation-alt-border-color.cm4all-force-border-color {
    border-color: #DAE283 !important;
} 
.cm4all-subnavigation-color.cm4all-force-color {
    color: #545454 !important;
}
.cm4all-subnavigation-color.cm4all-force-background-color {
    background-color: #545454 !important;
}
.cm4all-subnavigation-color.cm4all-force-border-color {
    border-color: #545454 !important;
} 
.cm4all-subnavigation-alt-color.cm4all-force-color {
    color: #000000 !important;
}
.cm4all-subnavigation-alt-color.cm4all-force-background-color {
    background-color: #000000 !important;
}
.cm4all-subnavigation-alt-color.cm4all-force-border-color {
    border-color: #000000 !important;
} 
.cm4all-subnavigation-background-color.cm4all-force-color {
    color: #FFFFFF !important;
}
.cm4all-subnavigation-background-color.cm4all-force-background-color {
    background-color: #FFFFFF !important;
}
.cm4all-subnavigation-background-color.cm4all-force-border-color {
    border-color: #FFFFFF !important;
} 
.cm4all-subnavigation-alt-background-color.cm4all-force-color {
    color: #F9F6EC !important;
}
.cm4all-subnavigation-alt-background-color.cm4all-force-background-color {
    background-color: #F9F6EC !important;
}
.cm4all-subnavigation-alt-background-color.cm4all-force-border-color {
    border-color: #F9F6EC !important;
} 
.cm4all-subnavigation-border-color.cm4all-force-color {
    color: #6B6B6B !important;
}
.cm4all-subnavigation-border-color.cm4all-force-background-color {
    background-color: #6B6B6B !important;
}
.cm4all-subnavigation-border-color.cm4all-force-border-color {
    border-color: #6B6B6B !important;
} 
.cm4all-subnavigation-alt-border-color.cm4all-force-color {
    color: #DAE283 !important;
}
.cm4all-subnavigation-alt-border-color.cm4all-force-background-color {
    background-color: #DAE283 !important;
}
.cm4all-subnavigation-alt-border-color.cm4all-force-border-color {
    border-color: #DAE283 !important;
} 
.cm4all-footer-color.cm4all-force-color {
    color: #000000 !important;
}
.cm4all-footer-color.cm4all-force-background-color {
    background-color: #000000 !important;
}
.cm4all-footer-color.cm4all-force-border-color {
    border-color: #000000 !important;
} 
.cm4all-footer-alt-color.cm4all-force-color {
    color: #6B6B6B !important;
}
.cm4all-footer-alt-color.cm4all-force-background-color {
    background-color: #6B6B6B !important;
}
.cm4all-footer-alt-color.cm4all-force-border-color {
    border-color: #6B6B6B !important;
} 
.cm4all-footer-background-color.cm4all-force-color {
    color: #F9F6EC !important;
}
.cm4all-footer-background-color.cm4all-force-background-color {
    background-color: #F9F6EC !important;
}
.cm4all-footer-background-color.cm4all-force-border-color {
    border-color: #F9F6EC !important;
} 
.cm4all-footer-alt-background-color.cm4all-force-color {
    color: #FFFFFF !important;
}
.cm4all-footer-alt-background-color.cm4all-force-background-color {
    background-color: #FFFFFF !important;
}
.cm4all-footer-alt-background-color.cm4all-force-border-color {
    border-color: #FFFFFF !important;
} 
.cm4all-footer-border-color.cm4all-force-color {
    color: #EBEBEB !important;
}
.cm4all-footer-border-color.cm4all-force-background-color {
    background-color: #EBEBEB !important;
}
.cm4all-footer-border-color.cm4all-force-border-color {
    border-color: #EBEBEB !important;
} 
.cm4all-footer-alt-border-color.cm4all-force-color {
    color: #D4D4D4 !important;
}
.cm4all-footer-alt-border-color.cm4all-force-background-color {
    background-color: #D4D4D4 !important;
}
.cm4all-footer-alt-border-color.cm4all-force-border-color {
    border-color: #D4D4D4 !important;
} 
.cm4all-body-background-color.cm4all-force-color {
    color: #D0D1C2 !important;
}
.cm4all-body-background-color.cm4all-force-background-color {
    background-color: #D0D1C2 !important;
}
.cm4all-body-background-color.cm4all-force-border-color {
    border-color: #D0D1C2 !important;
}
/*cm4all-vars-extension-force-color-end*/